@import "../Global";

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  Button {
    margin: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100%;
  
  @media (min-width: $mobile) {
    font-size: $scale2;
    width: 100vw;
  }
  
  @media (max-width: $mobile) {
    font-size: $scale2;
  }
}