/* colours */
$c-bg: #2d2d2c;
$c-text: #475569;
$c-text-white: #f3f3fa;
$c-text-light: #64748b;
$c-border: #f1f5f9;
$c-border-dark: #cbd5e1;
$c-primary: #c4c7c9;
$c-dark: #595959;
$c-contxt-blue: #3fb0ca;

// social media
$c-github: #101527;
$c-google: #4285f5;
$c-slack: #481349;
$c-youtube: #cd201f;
$c-pinterest: #bd081c;
$c-linkedin: #0077b5;
$c-microsoft: #d73a17;

$c-red: #d95565;

$c-tint: #fbfbff;

//Darkspark/Contxt Pallete

$c-nav-background: #2b2a2a;
$c-darkgrey: #2e2e2e;
$c-darkgrey-contrast: #1f1d1f;
$c-midgrey: #595959;
$c-lightgrey: #c4c7c9;
$c-homepage-grey: #cfcfcf;
$c-black: #2a2929;
$c-blue: #60c9da;
$c-midblue: #547f99;
$c-darkblue: #212f47;

$c-green: #769e2dff;
$c-midgreen: #479c8d;
$c-darkgreen: #25444f;

$c-orange: #e05c24;
$c-lightorange: #e4aa4d;

$c-purple: #762766;
$c-darkpurple: #762766;

$c-pink: #e64278;
