@import '../global.scss';

$themes: (
        button-primary-background-color : (
                darkTheme: $c-blue-bold,
                lightTheme: $c-blue-bold
        ),
        button-primary-font-color : (
                darkTheme: white,
                lightTheme: white
        ),
        button-secondary-background-color : (
                darkTheme: $c-blue-mid,
                lightTheme: $c-blue-mid,
        ),
        button-secondary-font-color : (
                darkTheme: white,
                lightTheme: white
        ),
        button-success-background-color : (
                darkTheme: $c-green,
                lightTheme: $c-green
        ),
        button-success-font-color : (
                darkTheme: white,
                lightTheme: white,
        ),
        button-danger-background-color : (
                darkTheme: $c-darkMode-red-deep,
                lightTheme: $c-lightMode-red-deep,
        ),
        button-danger-font-color : (
                darkTheme: white,
                lightTheme: white
        ),
        button-warning-background-color : (
                darkTheme: $c-yellow,
                lightTheme: $c-yellow-mid,
        ),
        button-warning-font-color : (
                darkTheme: $c-black,
                lightTheme: $c-black,
        ),
        button-info-background-color : (
                darkTheme: $c-grey-light,
                lightTheme: $c-grey-light,
        ),
        button-info-font-color : (
                darkTheme: $c-black,
                lightTheme: $c-black,
        ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("darkTheme");
}

.light-mode {
  @include styles("lightTheme");
}
