@import "../Global";

.base {
  font-family: inherit;
  border-radius: $radius;
  font-size: $scale;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 200px;
  width: auto;
  border: blue 1px solid;
  &:hover {
    cursor: pointer;
  }
}

.boxShadow {
    box-shadow: 0 0 0 1px $c-border;
}

.transparent {
  background-color: transparent;
  color: $theme-font-colour;
}

.primary {
  background-color: $theme-button-primary-bg-colour;
  color: $theme-button-primary-text-colour;
}

.secondary {
  background-color: $theme-button-secondary-bg-colour;
  color: $theme-button-secondary-text-colour;
}

.success {
  background-color: var($theme-button-success-bg-colour);
  color: $theme-button-success-text-colour;
}

.danger {
  background-color: $theme-button-danger-bg-colour;
  color: $theme-button-danger-text-colour;
}

.warning {
  background-color: $theme-button-warning-bg-colour;
  color: $theme-button-warning-text-colour;
}

.info {
  background-color: $theme-button-info-bg-colour;
  color: $theme-button-info-text-colour;
}

.link {
  background-color: transparent;
  color: $theme-button-link-text-colour;
  border: 0;

  &:hover {
    color: $c-grey-light;
    text-decoration: underline;
  }
}

.small {
    font-size: $scale-2;
}
.medium {
  font-size: $scale-1
}

.large {
  @media (min-width: $mobile) {
    font-size: $scale1;
  }
}
.extra-large {
  @media (min-width: $mobile) {
    font-size: $scale2;
  }
}