/* colours */
$c-bg: #2d2d2c;
$c-text: #475569;
$c-text-white: #f3f3fa;
$c-text-light: #64748b;
$c-border: #f1f5f9;
$c-border-dark: #cbd5e1;
$c-primary: #c4c7c9;
$c-dark: #595959;
$c-contxt-blue: #3fb0ca;

// social media
$c-github: #101527;
$c-google: #4285f5;
$c-slack: #481349;
$c-youtube: #cd201f;
$c-pinterest: #bd081c;
$c-linkedin: #0077b5;
$c-microsoft: #d73a17;

$c-red: #d95565;

$c-tint: #fbfbff;

$c-dark-nav-background: #2b2a2a;
$c-light-nav-background: white;
$c-grey-dark: #2e2e2e;
$c-grey-dark-contrast: #1f1d1f;
$c-grey-mid: #595959;
$c-grey-light: #c4c7c9;
$c-grey-homepage: #cfcfcf;

$c-black: #2a2929;

$c-blue-light: #F5FCFF;
$c-blue: #60c9da;
$c-blue-mid: #547f99;
$c-blue-dark: #212f47;
$c-blue-bold: #0069d9;

$c-darkMode-red-deep: #FF160C;
$c-lightMode-red-deep: #CC1100;

$c-green: #769e2dff;
$c-green-mid: #479c8d;
$c-green-dark: #25444f;

$c-yellow: #f9b822;
$c-yellow-mid: #E0A800;
$c-yellow-dark: #9c7f00;

$c-orange: #e05c24;
$c-orange-light: #e4aa4d;

$c-purple: #762766;
$c-purple-dark: #762766;

$c-pink: #e64278;

$themes: (
        nav-background: (
                darkTheme: $c-grey-dark-contrast,
                lightTheme: $c-blue,
        ),
        page-background: (
                darkTheme: $c-dark-nav-background,
                lightTheme: $c-light-nav-background,
        ),
        font-color: (
                darkTheme: white,
                lightTheme: black
        ),
        font-color-hover: (
                darkTheme: $c-dark-nav-background,
                lightTheme: $c-dark-nav-background,
        ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("darkTheme");
}

.light-mode {
  @include styles("lightTheme");
}
